.testenv/*
dist/*
src/*
!src/pybalmorel
examples/files/DE.inc
__pycache__
output
config
build
examples/files/background_csv/*

# This one is necessary to do tests
!tests/output/.keepoutputfolder