[project]
name = "pybalmorel"
version = "0.1.2"
authors = [
  { name="Mathias Berg Rosendal", email="mathiasros@gmail.com" },
]
description = "A package for convenient python functions when processing Balmorel data or results"
readme = "README.md"
requires-python = ">=3.9"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]

dependencies = ['pandas>=2.1.4', 'matplotlib>=3.9.0', 'geopandas>=0.14.4', 
                'gamsapi[transfer]>=45.0.0', 'ipywidgets>=8.1.3']

[project.urls]
Homepage = "https://github.com/Mathias157"
Issues = "https://github.com/Mathias157/balmorel-preprocessing/issues"